<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1>Home Page <%=2+3%>
    </h1>


    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam dolor pariatur ab adipisci fugiat earum. Vero ea
        a, voluptatibus doloribus quae quidem quis. Tenetur natus temporibus totam perferendis numquam ut.
        Numquam cumque, ratione sed incidunt pariatur, aliquam, beatae quas doloribus temporibus ducimus saepe minus
        earum eaque labore neque! Eligendi ex suscipit sed quo voluptate. Voluptatibus sint sed ea ullam alias.</p>

    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nam fuga quos minima fugiat iste rem, harum voluptatem
        id qui numquam commodi quod quasi blanditiis eligendi libero impedit. Cupiditate, enim suscipit.

    </p>
</body>

</html>